html,
body {
	height: 100%;
	color-scheme: dark;
}
body {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	background-color: #444;
	user-select: none;
}

/* .......................................................................... */
#app {
	display: flex;
	align-items: start;
	gap: 20px;
	font-family: sans-serif;
}

/* .......................................................................... */
#app-sideMenu {
	width: 120px;
	padding: 16px;
	border-radius: 4px;
	background-color: #fff1;
}
.app-sideMenu-row {
	display: flex;
	gap: 1ch;
	align-items: center;
}
#app-sideMenu span:first-child {
	margin-right: auto;
}
#app-sideMenu code {
	font-size: 18px;
	font-weight: bold;
}
#app-sideMenu input[ type="range" ] {
	width: 50px;
	margin: 0;
	margin-right: -2px;
}

/* .......................................................................... */
#app-canvasWrap {
	position: relative;
}
#app-canvas {
	position: relative;
	border-radius: 6px;
	outline: 0;
	background-color: #222;
}

/* .......................................................................... */
.app-page {
	position: absolute;
	inset: 0;
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
	font-size: 18px;
}
.app-page button {
	border: 0;
	padding: .6em 1em;
	border-radius: 6px;
	font: inherit;
	cursor: pointer;
}
#app[ data-status="loading" ] .app-page[ data-type="loading" ],
#app[ data-status="ready" ] .app-page[ data-type="start" ],
#app[ data-status="pause" ] .app-page[ data-type="pause" ] {
	display: flex;
}

#app-startWave {
	display: flex;
	align-items: center;
	gap: 1ch;
}
